<% require 'date' %>

<div class="left">
 <h1>近畿大学</h1>
 <div class="a">
  @kinkidaigakuPR
 </div>
 <p>近畿大学のTwitter公式アカウントです。気象警報による休講情報や、お得なランチ情報など、大学に関する情報を発信します。マグロに関するツイート多め🐟学生のみなさんの相談に乗りますので、くだらないことも気軽に話しかけてください。履修に関するご質問は所属学部。入試に関するご相談は、入学センターへお問い合わせ下さい。</p>
 <div class="a"><p>大阪府東大阪市</p></div>
 <div class="a"><p>🔗instagraam.cpm/kinkidagakupr</p></div>
 <div class="a"><p>🗓2010年12月に登録</p></div>
 <p><%= link_to 'ツイート',new_tweet_path %></p>
</div> 
<div class="right">
 <div class="b">
  <p>ツイート　　ツイートと返信　　メディア</p>
 </div>
 <% @tweets.each do|tweet| %>
  <p>
   <div class="c">
    <%= image_tag 'IMG_1232.JPG', :width => '50px', :height => '50px' %>
   </div>
   <div class="d">
     <div class="a">
      @kinkidaigakuPR      
      <% tweet.tdate = tweet.created_at %>
      <% t1 = tweet.tdate %>
      <% t2 = Time.current %>
      <% if (t2-t1) <= 60 * 60 %>
       <%= ((t2-t1) / 60) .to_i.to_s %>分前
      <% elsif (t2-t1) <= 60 * 60 * 24 %>
       <%= ((t2-t1) / 3600) .to_i.to_s %>時間前
      <% else %>
       <%= (t2.to_date - t1.to_date).to_i.to_s %>日前
      <% end %>
     </div>
    <%= tweet.message %>
    <br>
    <div class="a">
     <%= link_to '表示',tweet_path(tweet.id) %>
     <%= link_to '編集', edit_tweet_path(tweet.id) %>
     <%= link_to '削除', tweet_path(tweet.id), method: :delete %>
    </div>
   </div>
  </p>
 <% end %>
</div>



