// Place all the styles related to the Tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.left {
    width: 40%;
    background-color: #e0ffff;
}
.right {
    width: 60%;
    background-color: #e0ffff;
}
.a {
    color: #808080;
    font-size: 11px;
}
.left1 {
    width: 10%;
}
.right {
    width: 85%;
}
.b {
    font-size: 18px;
    background-color: #ffffff;
}
.c {
    float: left;
}
.d {
    width: 90%;
    float: right;
}